.header {
  background: #222C57;
  width: 100%;
  height: 830px;
}
.header .header-content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  align-items: center;
  margin: auto;
}
.header .header-content .nav-bar {
  text-align: center;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
.header .header-content .nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.header .header-content .nav-bar .dropdown {
  position: relative;
}
.header .header-content .nav-bar .dropdown-link[aria-expanded=true] + .dropdown-content {
  display: block;
}
.header .header-content .nav-bar .dropdown-icon {
  color: white;
  padding-left: 5px;
}
.header .header-content .nav-bar .dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  color: #222C57;
  padding: 0;
  width: 120px;
  justify-items: left;
}
.header .header-content .nav-bar .dropdown-content li {
  list-style: none;
}
.header .header-content .nav-bar .dropdown-content a {
  display: block;
  color: #222C57;
  padding: 6px;
  text-decoration: none;
  align-items: left;
}
.header .header-content .nav-bar .dropdown-link {
  background: #ecec2f;
}
.header .header-content .nav-bar .dropdown:hover .dropdown-content {
  display: block;
}
.header .header-content .nav-bar .dropdown-link[aria-expanded=true] + .dropdown-icon + .dropdown-content {
  display: block;
}
.header .home-hero {
  background: #222C57;
  width: 80%;
  padding: 0;
  margin: auto;
}
.header .home-hero .home-hero-content {
  width: 100%;
  margin: auto;
}
.header .home-hero .home-hero-content hr {
  background: #8FCBD2;
  width: 57%;
  margin: 0;
  padding: 7px;
  border: none;
}
.header .home-hero .home-hero-content .home-hero-title {
  font-family: Avenir-Bold;
  position: relative;
  bottom: 15px;
  height: 202px;
  color: transparent;
  background-clip: text;
  font-size: 5.625rem;
  line-height: 5.3125rem;
  font-weight: 800;
  background-image: url("/img/02.png");
  background-size: cover;
  background-position: center;
  background-position: 0 0;
  padding-top: 0;
  margin-bottom: 0;
}
.header .video {
  position: relative;
  left: 27%;
  padding: 0;
  width: 60%;
}

.white-header {
  width: 90%;
}
.white-header .white-header-text {
  width: 65%;
  position: relative;
  top: 120px;
  font-size: 28px;
  line-height: 1.5em;
  left: 50px;
  color: #222C57;
  font-family: Avenir-Regular;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.logo-slider {
  padding-top: 15%;
  height: 100px;
  margin: auto;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.logo-slider .slider {
  animation: scroll 30s linear infinite;
  display: flex;
  gap: 50px;
  margin: auto;
  width: max-content;
}
.logo-slider .slider .slide {
  height: 100px;
  width: 150px;
}
.logo-slider .slider .slide img {
  width: 100%;
  height: auto;
  display: block;
}

.home-deepblue {
  background-image: url("/img/deepblue.png");
  background-color: #1B5AA5;
  width: 100%;
  padding-bottom: 50px;
}
.home-deepblue .deepblue-top {
  width: 90%;
  margin: auto;
}
.home-deepblue .deepblue-top h3 {
  margin: auto;
  padding-top: 40px;
  text-align: center;
  font-family: Avenir-Medium;
  font-size: 36px;
  color: white;
}
.home-deepblue .deepblue-top .mini-heading {
  display: flex;
  width: 50%;
  margin: auto;
}
.home-deepblue .deepblue-top .mini-heading a {
  color: white;
  width: 50%;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  margin: auto;
  text-decoration: none;
  padding-top: 50px;
  font-size: 18px;
  font-family: Avenir-Medium;
  padding-bottom: 25px;
  position: relative;
}
.home-deepblue .deepblue-top .mini-heading a::after {
  content: "";
  position: absolute;
  left: 10%;
  top: 102px;
  width: 90%;
  height: 3px;
  background-color: white;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.home-deepblue .deepblue-top .mini-heading a:hover::after {
  transform: scaleX(1);
}
.home-deepblue .deepblue-top hr {
  border-color: rgba(255, 255, 255, 0.1019607843);
  border-width: 1px;
  border-style: solid;
}
.home-deepblue .total-content {
  display: flex;
}
.home-deepblue .total-content .coastal-content,
.home-deepblue .total-content .fresh-content,
.home-deepblue .total-content .marine-content {
  display: none;
}
.home-deepblue .total-content .coastal-content.active,
.home-deepblue .total-content .fresh-content.active,
.home-deepblue .total-content .marine-content.active {
  display: flex;
}
.home-deepblue .total-content .coastal-content {
  width: 80%;
  margin: auto;
  gap: 100px;
  padding-top: 50px;
}
.home-deepblue .total-content .coastal-content .coastal-text {
  width: 35%;
  color: white;
  position: relative;
  left: 50px;
  padding-top: 30px;
  text-align: left;
}
.home-deepblue .total-content .coastal-content .coastal-text h2 {
  font-family: Avenir-Bold;
  line-height: 1.5em;
}
.home-deepblue .total-content .coastal-content .coastal-text p {
  font-family: Avenir-Regular;
  line-height: 1.5em;
  font-size: 17px;
  padding-bottom: 10px;
}
.home-deepblue .total-content .coastal-content .coastal-text button {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Avenir-Bold;
  background: white;
  color: #222C57;
  font-size: 17px;
}
.home-deepblue .total-content .coastal-content .coastal-image {
  width: 65%;
  position: relative;
  left: 30px;
}
.home-deepblue .total-content .coastal-content .coastal-image img {
  width: 617px;
  height: 392px;
}
.home-deepblue .total-content .fresh-content {
  width: 80%;
  margin: auto;
  gap: 100px;
  padding-top: 50px;
}
.home-deepblue .total-content .fresh-content .fresh-text {
  width: 35%;
  color: white;
  position: relative;
  left: 50px;
  padding-top: 30px;
  text-align: left;
}
.home-deepblue .total-content .fresh-content .fresh-text h2 {
  font-family: Avenir-Bold;
  line-height: 1.5em;
}
.home-deepblue .total-content .fresh-content .fresh-text p {
  font-family: Avenir-Regular;
  line-height: 1.5em;
  font-size: 17px;
  padding-bottom: 10px;
}
.home-deepblue .total-content .fresh-content .fresh-text button {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Avenir-Bold;
  background: white;
  color: #222C57;
  font-size: 17px;
}
.home-deepblue .total-content .fresh-content .fresh-image {
  width: 65%;
  position: relative;
  left: 30px;
}
.home-deepblue .total-content .fresh-content .fresh-image img {
  width: 617px;
  height: 392px;
}
.home-deepblue .total-content .marine-content {
  width: 80%;
  margin: auto;
  gap: 100px;
  padding-top: 50px;
}
.home-deepblue .total-content .marine-content .marine-text {
  width: 35%;
  color: white;
  position: relative;
  left: 50px;
  padding-top: 30px;
  text-align: left;
}
.home-deepblue .total-content .marine-content .marine-text h2 {
  font-family: Avenir-Bold;
  line-height: 1.5em;
}
.home-deepblue .total-content .marine-content .marine-text p {
  font-family: Avenir-Regular;
  line-height: 1.5em;
  font-size: 17px;
  padding-bottom: 10px;
}
.home-deepblue .total-content .marine-content .marine-text button {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Avenir-Bold;
  background: white;
  color: #222C57;
  font-size: 17px;
}
.home-deepblue .total-content .marine-content .marine-image {
  width: 65%;
  position: relative;
  left: 30px;
}
.home-deepblue .total-content .marine-content .marine-image img {
  width: 617px;
  height: 392px;
}

.home-white {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.home-white .white-container {
  width: 85%;
  margin: auto;
}
.home-white .white-container .white-text {
  font-family: Avenir-Bold;
  font-size: 40px;
  color: #222C57;
}
.home-white .white-container .white-sections {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.home-white .white-container .white-sections .volunteer {
  background-image: url(/img/opportunity.png);
}
.home-white .white-container .white-sections .sponsorship {
  background-image: url(/img/sponsorship.png);
}
.home-white .white-container .white-sections .fundraising {
  background-image: url(/img/fundraising.png);
}
.home-white .white-container .white-sections .volunteer,
.home-white .white-container .white-sections .sponsorship,
.home-white .white-container .white-sections .fundraising {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  color: white;
  width: 380px;
  height: 431px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-white .white-container .white-sections .volunteer,
.home-white .white-container .white-sections .sponsorship,
.home-white .white-container .white-sections .fundraising, .home-white .white-container .white-sections .text {
  font-size: 30px;
  padding-bottom: 30px;
}
.home-white .white-container .white-sections .volunteer button,
.home-white .white-container .white-sections .sponsorship button,
.home-white .white-container .white-sections .fundraising button {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Avenir-Bold;
  background: white;
  color: #222C57;
  font-size: 17px;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("fonts/AvenirLTProHeavy.otf") format("truetype");
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("fonts/AvenirLTProLight.otf") format("truetype");
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("fonts/AvenirLTProMedium.otf") format("truetype");
}
@font-face {
  font-family: "Avenir-Main";
  src: url("fonts/AvenirLTProBlackOblique.otf") format("truetype");
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Avenir-Regular";
}

.site-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
