.about-header {
    width: 100%;
    height: auto;
    background-image: url(/img/about-.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    @media (max-width: 1024px) {
        height: 768px;
    }

    .about-header-content {
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 10px;
        align-items: center;
        margin: auto;
        @media (max-width: 1024px) {
        padding-bottom:10px;
    }
        .logo {
            img {
                padding-right: 20px;
            }
        }
        .nav-bar {
            text-align: center;
            display: flex;
            gap: 25px;
            @media (max-width: 768px)  {
                display: none;
            } 
            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
        
            .dropdown {
                position: relative;

                .dropdown-icon {
                    color: white;
                    padding-left: 5px;
                    
                }
                .dropdown-content {
                    display: block;
                    position: absolute;
                    top: 40px;
                    background-color: white;
                    color: #222C57;
                    padding: 0;
                    width: 120px;
                    justify-items: left;
                    &:hover .dropdown-content {
                        display: block;
                    }
                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: #222C57;
                            padding: 20px 0;
                            font-size: 20px;
                            text-align: center;   
                        }
                    } 
                }
                .dropdown-link[aria-expanded="true"] + .dropdown-icon + .dropdown-content {
                    display: block;
                }                 
            }                  
        }
    }
        .mobile-menu,
        .icon {
            display: none;
        }

    @media (max-width: 768px) { 
        .icon {
            display: block;
            font-size: 28px;
            cursor: pointer; 
            padding: 5px 7px 5px 7px;
            z-index: 1000;
            color:white;
            text-decoration: none;
            text-align: center;
            background: #92CDD3;
            
        }
        .mobile-menu {
            display: none;
            background-color: white;
            position: fixed;
            top: 0px;
            bottom:0px;
            right: 0px;
            width: 100vw;
            padding: 0px;
            z-index: 9999;
            height: 100vh;

            a {
                display: none;
                color:#222C57;
                padding: 6px;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
            } 
            &.active {
                display: flex;
                flex-direction: column;
            }
            
            .logo {
                width: 100%;
                background-color: #222C57;
                padding: 0;
                margin: 0;

                img {
                    padding-top: 50px;
                    padding-left: 30px;
                    padding-bottom: 30px;
                }
            }

            .close-icon {
                position: absolute;
                width: 20%;
                top: 50px;
                right:10%; 
                text-align: right;
                font-size: 30px;
                color: white;
                background-color: #222C57;
                cursor: pointer;
                z-index: 10000;
            }
            .menu-bar {
                padding-top: 40px;
                width: 100%;
                a {
                    font-family: Avenir-Medium;
                    text-align: left;
                    padding-left: 30px;
                }
            }
            
            .dropdown {
                width: 90%;
                text-align: center;
                display: inline-block;
                position: relative;
                justify-content: space-between;
                align-items: center;
               

                .dropdown-link {
                    flex: 1;
                    text-align: left;
                    padding-left: 30px;
                }
                
                .dropdown-icon {
                    position: relative;
                    bottom: 30px;
                    display: flex;
                    justify-content: end;
            
                }
                .dropdown-content {
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;
               

                    li a {
                    color: #222C57;
                    font-size: 18px;
                    padding: 10px 0;
                    text-decoration: none;
                    list-style: none;
                    }

                    &.show {
                        display: block;
                    }
                }
                
      
            }
        }
    }
    hr {
        width: 100%;
        position: relative;
        border-color: #FFFFFF26;
        border-width: 0.5px;
        border-style: solid;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .about-hero {
        
        width: 80%;
        padding-top: 70px;
        margin: auto;
        @media (max-width: 768px) {
            padding-top: 50px;
        }
        .about-hero-content {
            width: 90%;
            margin:auto;

            hr {
                display: block;
                background: #FFFFFF;
                width: 43%;
                margin: 0;
                padding: 7px;
                border: none;
                @media (max-width: 768px) {
                    width:57%;
                    margin: 0;
                    padding: 4px;
                    border: none;
                    position: relative;
                    right: 20px;
                    height: auto;
                }
            }

            .about-hero-title  {
                font-family: Avenir-Bold;
                position: relative;
                bottom: 15px;
                height: 202px;
                color: #FFFFFF;
                background-clip: text;
                font-size: 3.625rem;
                line-height: 4rem;
                font-weight: 800;
                padding-top: 0;
                margin-bottom: 0;
                padding-bottom: 20px;
                @media (max-width: 1024px) {
                    bottom: 35px;
                    right: 10px;
                    font-size: 3rem;
                    line-height: 3.5rem;
                    padding-top: 40px;
                    margin-bottom: 0;  
                }
            }
        }
    }  
}

 