.header {
    background: #222C57;
    width: 100%;
    height: 830px;

    .header-content {
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 40px;
        align-items: center;
        margin: auto;

        .nav-bar {
            text-align: center;
            display: flex;
            gap: 25px;
            justify-content: space-between;

            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
            .dropdown {
                position: relative;
            }
            .dropdown-link[aria-expanded="true"] + .dropdown-content {
                display: block;
            }
            .dropdown-icon {
                color: white;
                padding-left: 5px;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                top: 40px;
                background-color: white;
                color: #222C57;
                padding: 0;
                width: 120px;
                justify-items: left;

                li {
                    list-style: none;
                } 
                a {
                    display: block;
                    color: #222C57;
                    padding: 6px;
                    text-decoration: none;
                    align-items: left;
                }     
            }
            .dropdown-link {
                background: #ecec2f;
            }
            .dropdown:hover .dropdown-content {
                display: block;
                
            }
            .dropdown-link[aria-expanded="true"] + .dropdown-icon + .dropdown-content {
                display: block;
            }
        }
    }

    .home-hero {
        background: #222C57;
        width: 80%;
        padding: 0;
        margin: auto;

        .home-hero-content {
            width: 100%;
            margin:auto;

            hr {
                background: #8FCBD2;
                width:57%;
                margin: 0;
                padding: 7px;
                border: none;

            }

            .home-hero-title  {
                font-family: Avenir-Bold;
                position: relative;
                bottom: 15px;
                height: 202px;
                color: transparent;
                background-clip: text;
                font-size: 5.625rem;
                line-height: 5.3125rem;
                font-weight:800;
                background-image: url('/img/02.png');
                background-size: cover;
                background-position: center;
                background-position: 0 0;
                padding-top: 0;
                margin-bottom: 0;
            }
        }
    }  
    .video {
        position: relative;
        left: 27%;
        padding: 0;
        width:60%;       
    }
}  
.white-header {
    width: 90%;
    
    .white-header-text {
        width: 65%;
        position: relative;
        top: 120px;
        font-size: 28px;
        line-height: 1.5em;
        left: 50px;
        color: #222C57;
        font-family: Avenir-Regular;
    }
}  
@keyframes scroll {
    0%{
        transform:translateX(0);
    } 
    100%{
        transform:translateX(-50%);
    }
}
.logo-slider {
    padding-top: 15%;
    height: 100px;
    margin:auto;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width:100%;

    .slider {
        animation: scroll 30s linear infinite;
        display: flex;
        gap: 50px;
        margin: auto;
        width: max-content;

        .slide {
            height: 100px;
            width: 150px;

            img {
                width: 100%;
                height: auto;
                display:block;
            }
        }
    }
}
.home-deepblue {
    background-image: url('/img/deepblue.png');
    background-color: #1B5AA5;
    width: 100%;
    padding-bottom: 50px;

    .deepblue-top {
        width: 90%;
        margin: auto;

        h3 {
            margin:auto;
            padding-top: 40px;
            text-align: center;
            font-family: Avenir-Medium;
            font-size: 36px;
            color: white;
        }
        .mini-heading {
            display: flex;
            width: 50%;
            margin: auto;

            a {
                color: white;
                width: 50%;
                justify-content: space-between;
                text-align: center;
                gap: 10px;
                margin: auto;
                text-decoration: none;
                padding-top: 50px;
                font-size: 18px;
                font-family: Avenir-Medium;
                padding-bottom: 25px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 10%;
                    top: 102px;
                    width: 90%;
                    height: 3px; 
                    background-color: white;
                    transform: translateX(-50%) scaleX(0); 
                    transform-origin: center;
                    transform-origin: center;
                    transition: transform 0.3s ease;
                }
                &:hover::after {
                    transform: scaleX(1);
                }
            
            }
        }

        hr {
            border-color:#FFFFFF1A;
            border-width: 1px;
            border-style: solid;
        }
    }
    .total-content {
        display: flex;
    
        .coastal-content,
        .fresh-content,
        .marine-content {
            display: none; 
        }
        .coastal-content.active,
        .fresh-content.active,
        .marine-content.active {
            display: flex; 
        }
        .coastal-content{
            width: 80%;
            margin: auto;
            gap: 100px;
            padding-top: 50px;

            .coastal-text {
                width: 35%;
                color: white;
                position: relative;
                left: 50px;
                padding-top: 30px;
                text-align: left;

                h2 {
                    font-family: Avenir-Bold;
                    line-height: 1.5em;
                }
                p {
                    font-family: Avenir-Regular;
                    line-height: 1.5em;
                    font-size: 17px;
                    padding-bottom: 10px;
                }
                button {
                    border-radius: 30px;
                    border: none;
                    height: 40px;
                    width: 50%;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-family: Avenir-Bold;
                    background: white;
                    color: #222C57;
                    font-size: 17px;
                }
            }
            .coastal-image {
                width: 65%;
                position: relative;
                left: 30px;
                img {
                    width: 617px;
                    height: 392px;
                }
            }
        }
        .fresh-content{
            width: 80%;
            margin: auto;
            gap: 100px;
            padding-top: 50px;

            .fresh-text {
                width: 35%;
                color: white;
                position: relative;
                left: 50px;
                padding-top: 30px;
                text-align: left;

                h2 {
                    font-family: Avenir-Bold;
                    line-height: 1.5em;
                }
                p {
                    font-family: Avenir-Regular;
                    line-height: 1.5em;
                    font-size: 17px;
                    padding-bottom: 10px;
                }
                button {
                    border-radius: 30px;
                    border: none;
                    height: 40px;
                    width: 50%;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-family: Avenir-Bold;
                    background: white;
                    color: #222C57;
                    font-size: 17px;
                }
            }
            .fresh-image {
                width: 65%;
                position: relative;
                left: 30px;
                img {
                    width: 617px;
                    height: 392px;
                }
            }
        }
        .marine-content{
            width: 80%;
            margin: auto;
            gap: 100px;
            padding-top: 50px;

            .marine-text {
                width: 35%;
                color: white;
                position: relative;
                left: 50px;
                padding-top: 30px;
                text-align: left;

                h2 {
                    font-family: Avenir-Bold;
                    line-height: 1.5em;
                }
                p {
                    font-family: Avenir-Regular;
                    line-height: 1.5em;
                    font-size: 17px;
                    padding-bottom: 10px;
                }
                button {
                    border-radius: 30px;
                    border: none;
                    height: 40px;
                    width: 50%;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-family: Avenir-Bold;
                    background: white;
                    color: #222C57;
                    font-size: 17px;
                }
            }
            .marine-image {
                width: 65%;
                position: relative;
                left: 30px;
                img {
                    width: 617px;
                    height: 392px;
                }
            }
        }
    }
}
